.invoice-container{
  background: white;
  border-radius: 20px;
  position: absolute;
  top: 15px;
  width: 85%;
  max-width: 95%;
  padding: 20px;
  

}

.no-invoice-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
  }
  
  .no-invoice-wrapper button {
    padding: 10px 20px;
    background: #333;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    border: none;
  }


  .invoice-footer {
    margin-top: 20px;
    padding: 15px;
    background-color: #f1f1f1;
    text-align: center;
    border-radius: 8px;
    color: #7f8c8d;
  }
  
  .invoice-header {
    text-align: center;
    font-size: 24px;
    color: black;
  }
  
  .invoice-search-bar-group{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: #0000001b;
    border-radius: 20px;
    margin-bottom:20px;
    box-shadow:1px 2px 1px 2px rgba(0, 0, 0, 0.384);
  }
  .invoice-search-bar{
    width: 300px;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 25px;
    outline: none;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  .invoice-search-bar:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .invoice-search-bar::placeholder {
    color: #888;
    font-style: italic;
  }
 
  .invoice-table-container {
    overflow-x: auto;
  }
  
  .invoice-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }
  
  .invoice-table th,
  .invoice-table td {
    padding: 10px;
    border: 1px solid #ddd; 
  }
  
  .invoice-table th {
    background: green;
    font-weight: bold;
    color: white;
  }
  .invoice-table tr{
    background:white ;
    cursor: pointer;

  }
  .invoice-table tr:hover{
    transition: .5s ease-in-out;
    background: rgba(152, 152, 152, 0.404);

  }
  
  .invoice-edit-btn,
  .invoice-delete-btn {
    margin: 5px;
    padding: 5px 5px;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .invoice-edit-btn {
    background: #4caf50;
  }
  .invoice-edit-btn:hover{
    transition: .5s ease-in-out;
    background: rgb(2, 73, 2);
  }
  
  .invoice-delete-btn {
    background: #f44336;
  }
  .invoice-delete-btn:hover{
    transition: .5s ease-in-out;
    background: rgb(155, 3, 3);

  }
  
 
  @media (max-width: 768px) {
    .invoice-container{
      width: 83%;
    }
    .invoice-header{
      font-size: 20px;
    }
    .invoice-search-bar-group{
      flex-direction: column;
    }
    .invoice-search-bar{
      width: 80%;
    }
  
    .invoice-table th,
    .invoice-table td {
      font-size: 14px;
      padding: 8px;
    }
  }

  @media (max-width: 450px) {
    .invoice-container{
      width: 80%;
    }
    .invoice-header{
      font-size: 18px;
    }
    .invoice-search-bar {
      width: 70%;
    }
  }
  
