
  .user-container {
    max-width: 95%;
    width: 85%;
    margin: 0 auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow-y: hidden;
    overflow-x: auto;
    padding: 20px;
    position: absolute;
    top:15px;

  }
  
  .users-table-header {
    text-align: center;
    font-size: 24px;
    color: black;
  }
  
  .users-search-bar-group{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: #0000001b;
    border-radius: 20px;
    margin-bottom:30px;
    box-shadow:1px 2px 1px 2px rgba(0, 0, 0, 0.384);
  }
  .users-search-bar{
    width: 300px;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 25px;
    outline: none;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  .users-search-bar:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .users-search-bar::placeholder {
    color: #888;
    font-style: italic;
  }

  
  
  
  .no-users {
    text-align: center;
    font-size: 18px;
    color: #777;
  }
  
  .users-table-container {
    overflow-x: auto;
  }
  
  .users-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }
  
  .users-table th,
  .users-table td {
    padding: 10px;
    border: 1px solid #ddd; 
  }
  
  .users-table th {
    background: green;
    font-weight: bold;
    color: white;
  }
  .users-table tr{
    background:white ;
    cursor: pointer;
    border: 1px solid black;

  }
  .users-table tr:hover{
    transition: .5s ease-in-out;
    background: rgba(152, 152, 152, 0.404);

  }
  
  .users-edit-btn,
  .users-delete-btn {
    margin: 5px;
    padding: 5px 5px;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .users-edit-btn {
    background: #4caf50;
  }
  .users-edit-btn:hover{
    transition: .5s ease-in-out;
    background: rgb(2, 73, 2);
  }
  
  .users-delete-btn {
    background: #f44336;

  }
  .users-delete-btn:hover{
    transition: .5s ease-in-out;
    background: rgb(155, 3, 3);

  }
  
 
  @media (max-width: 768px) {
    .user-container {
      width: 83%;
    }
    .users-search-bar-group{
      flex-direction: column;
    }
    .users-search-bar{
      width: 80%;
    }
  
    .users-table th,
    .users-table td {
      font-size: 14px;
      padding: 8px;
    }
  }

  @media (max-width: 450px) {
    .user-container {
      width: 80%;
    }
    .users-search-bar {
      width: 70%;
    }
  }
  