
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body{
  min-width: 300px;
}

.main-container{
  background: #f19292;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.download-btn{
  height: 50px;
  font-size: 50px;
  border: none;
  background: transparent;
  cursor: pointer;
  position: fixed;
  bottom: 50vh;
  right: 1vw;
}


 
